/*Importing fonts*/
@font-face {
    font-family: "04b";
    src: url('Font/04b_30/04B_30__.TTF');
}
@font-face {
    font-family:"Flipps";
    src: url('Font/fipps/Fipps-Regular.otf');
}
/*Body*/
body
{
    background-image: url('assets/background-site.gif');/*Fond du site*/   
    /*Effets Parallax*/
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
